@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --dark-green: #0A4044; 
    --light-green: #F2F7F7;
    --orange: #E68657;
    --background-color: #F8F8FF;
    --grey: #7a7f85
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.next-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the container take up at least the full viewport height */
}

.content-wrapper {
  flex-grow: 1; /* This allows the content to take up all remaining space */
  padding-top: 80px; /* Adjust for header height */
}

.content-footer {
  margin-top: auto; /* Push footer to the bottom */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dark-green); 
}

::-webkit-scrollbar-thumb {
  background: var(--dark-green); 
  border-radius: 10px;
}

html {
  scroll-padding-top: 150px; 
  scroll-behavior: smooth;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #F8F8FF
}

.float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px; /* Set a fixed width */
  height: 45px; /* Set the same height for a perfect circle */
  border-radius: 50%; /* Keep it circular */
  background-color: #5AD252;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 9000;
  transition: transform 0.2s ease;
  pointer-events: none;
}

.float:hover {
  transform: scale(1.1);
}

.float a{
  width: 100%; /* Make the anchor take full width */
  height: 100%; /* Make the anchor take full height */
  display: flex; /* Flex to center the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none; /* Remove underline */
  color: white; /* Icon color */
}



@media (max-width: 1024px) {
 
  .content-wrapper{
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 50px; 
  }

  .content-wrapper{
    padding-top: 70px;
  }
}
