

.job-list-container{
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    color: var(--dark-green);
}

.job-list{
    max-width: 1300px;
    width: 100%;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.jobs{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 380px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    height: 120px;
    
}

.jobs h2{
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--orange);
}

.job-posted{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    color: var(--grey);
}

.job-location{
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
}

.job-details-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    background-color: var(--dark-green);
    color: var(--light-green);
    margin-left: 5px;
    border-radius: 25px;
    border: none;
    font-size: 13px;
    text-decoration: none ;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; 
}

.job-details-btn:hover {
    background-color: var(--orange) !important; 
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px; /* Enhance shadow on hover */
}

.job-type{
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
}



@media (max-width: 768px){

    .career-header-content{
        margin-top: 40px;
    }

    .career-header-content h1 {
        font-size: 30px;
    }

    .career-header-content p{
        text-align: center;
        font-size: 13px;
        line-height: 20px;
    }
    .career-search-bar{
        flex-direction: column;
    }

    .career-search-bar{
        height: auto;
        padding-bottom: 20px;
    }

    .search-jobs input{
        max-width: auto;
        text-align: center;
    }

    .select-jobs{
        font-size: 8px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .select-jobs select{
        font-size: 12px;
    }

}