.buy-course-btn{
    display: block; 
    width: 80%;
    font-size: 15px;
    margin: 10px auto;
    background-color: var(--dark-green) !important;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--light-green) !important;
    padding: 20px !important;
    border-radius: 35px !important;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; /* Added transition for shadow and transform */
    cursor: pointer;
}

.buy-course-btn:hover {
    background-color: var(--orange) !important; 
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px; /* Enhance shadow on hover */
}